<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="./js/crud-admin.js"></script>
    <style>
      img {
        height: 100px;
      }
    </style>
  </head>
  <body ng-app="myApp" ng-controller="AppController">
    <h1 class="text-center">Well come to my admin page Wine Shopping</h1>
    <div class="container">
      <table
        class="mt-1 text-center table table-borderless table-hover text-black"
      >
        <thead>
          <tr>
            <th class="border">Id</th>
            <th class="border">Name</th>
            <th class="border">Price</th>
            <th class="border">Quantity</th>
            <th class="border">Image</th>
            <th class="border">Title</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border">
              <input type="text" ng-model="idWine" />
            </td>
            <td class="border">
              <input type="text" ng-model="nameWine" />
            </td>
            <td class="border">
              <input type="text" ng-model="priceWine" />
            </td>
            <td class="border">
              <input type="text" ng-model="quantityWine" />
            </td>
            <td class="border">
              <input
                type="text"
                placeholder="Link image"
                ng-model="imageWine"
              />
            </td>
            <td class="border">
              <input type="text" ng-model="titleWine" />
            </td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th class="border">Categories</th>
            <th class="border">Country</th>
            <th class="border">Year of Product</th>
            <th class="border">Manufacturers</th>
            <th class="border">Size</th>
            <th class="border">Review</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border">
              <input type="text" ng-model="categoriesWine" />
            </td>
            <td class="border">
              <input type="text" ng-model="countryWine" />
            </td>
            <td class="border">
              <input type="date" ng-model="year_of_productionWine" />
            </td>
            <td class="border">
              <input type="text" ng-model="manufacturersWine" />
            </td>
            <td class="border">
              <input type="text" ng-model="sizeWine" />
            </td>
            <td class="border">
              <input type="text" ng-model="reviewsWine" />
            </td>
          </tr>
        </tbody>
      </table>
      <img src="{{imageWine}}" alt="" />
      <br />
      <br />
      <button class="btn btn-primary" ng-click="addProduct()">ADD</button>
      <button class="btn btn-primary" ng-click="updateProductByID(idWine)">
        Update By Id - {{idWine}}
      </button>
      <button class="btn btn-primary" ng-click="deleteProduct(idWine)">
        Delete By Id - {{idWine}}
      </button>
      <br />
      <h2>DATA</h2>
      <input type="text" placeholder="Search by name" ng-model="SearchText" />
      <br />
      <br />
      <table
        class="mt-1 text-center table table-borderless table-hover text-black"
      >
        <thead>
          <tr>
            <th class="border">ID</th>
            <th class="border">Name</th>
            <th class="border">Price</th>
            <th class="border">Quantity</th>
            <th class="border">Image</th>
            <th class="border">Control</th>
            <th class="border">Control</th>
          </tr>
        </thead>
        <tbody>
          <tr
            ng-repeat="wine in filteredItems |filter :SearchText"
            ng-click="showDetailsClicked(wine)"
          >
            <td class="border">{{wine.id}}</td>
            <td class="border">{{wine.name}}</td>
            <td class="border">{{wine.price}}</td>
            <td class="border">{{wine.quantity}}</td>
            <td class="border"><img src="{{wine.image}}" alt="no image" /></td>
            <td class="border">
              <button
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#myModal"
                ng-click="detailProduct(wine)"
              >
                Details
              </button>
            </td>
            <td class="border">
              <button class="btn btn-primary" ng-click="deleteProduct(wine.id)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" ng-click="Previous()" id="Previous"
            >Previous</a
          >
        </li>
        <li
          class="page-item"
          ng-repeat="page in pageRange()"
          ng-click="changRangePage(page)"
        >
          <a class="page-link" href="#">{{page}}</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" ng-click="Next()" id="Next">Next</a>
        </li>
      </ul>
      <div class="modal" id="myModal" ng-show="showDetail">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Product Details</h4>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
              ></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body"></div>
            <div class="input-group container">
              <span class="input-group-text">Id</span>
              <input
                type="text"
                class="form-control"
                aria-label="Recipient's
              username"
                aria-describedby="basic-addon2"
                value="{{selectWine.id}}"
                disabled="disabled"
              />
            </div>
            <div class="input-group container">
              <span class="input-group-text">Name</span>
              <input
                type="text"
                class="form-control"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2"
                ng-model="selectWine.name"
              />
            </div>
            <div class="input-group container">
              <span class="input-group-text">Price</span>
              <input
                type="text"
                class="form-control"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2"
                ng-model="selectWine.price"
              />
            </div>
            <div class="input-group container">
              <span class="input-group-text">Quantity</span>
              <input
                type="text"
                class="form-control"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2"
                ng-model="selectWine.quantity"
              />
            </div>
            <div class="input-group container">
              <span class="input-group-text">link image</span>
              <input
                type="text"
                class="form-control"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2"
                ng-model="selectWine.image"
              />
            </div>
            <div class="input-group container">
              <span class="input-group-text">Title</span>
              <input
                type="text"
                class="form-control"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2"
                ng-model="selectWine.title"
              />
            </div>
            <div class="input-group container">
              <span class="input-group-text">Categories</span>
              <input
                type="text"
                class="form-control"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2"
                ng-model="selectWine.categories"
              />
            </div>
            <div class="input-group container">
              <span class="input-group-text">Country</span>
              <input
                type="text"
                class="form-control"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2"
                ng-model="selectWine.country"
              />
            </div>

            <div class="input-group container">
              <span class="input-group-text">Year of Product</span>
              <input
                type="text"
                class="form-control"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2"
                ng-model="selectWine.year_of_production"
              />
            </div>
            <div class="input-group container">
              <span class="input-group-text">Manufacturers</span>
              <input
                type="text"
                class="form-control"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2"
                ng-model="selectWine.manufacturers"
              />
            </div>
            <div class="input-group container">
              <span class="input-group-text">Size</span>
              <input
                type="text"
                class="form-control"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2"
                ng-model="selectWine.size"
              />
            </div>
            <div class="input-group container">
              <span class="input-group-text">Review</span>
              <input
                type="text"
                class="form-control"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2"
                ng-model="selectWine.reviews"
              />
            </div>
            <img src="{{selectWine.image}}" alt="" width="100px" />
            <br />
            <!-- Modal footer -->
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-primary"
                data-bs-dismiss="modal"
                ng-click="updateProduct()"
              >
                Update
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
