<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="https://img.icons8.com/office/256/wine-glass.png" type="image/x-icon" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <link rel="stylesheet" href="./css/main_style.css" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/e56307bebd.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <!--Anchor-->
  <title>Buy Wine at Wines.com || Online store</title>
  <link rel="stylesheet" href="./css/shoppingCart.css">
  <script src="./js/shoppingCart.js"></script>
</head>

<body ng-app="assignment" ng-controller="assignmentController">
  <nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background: #ee4431">
    <div class="container-fluid">
      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar" style="margin-left: 30px">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="./wine_index.html" style="color: black">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./buy_wine.html" style="color: black">Buy Wine</a>
          </li>
          <li class="droppable nav-item text-dark">
            <a class="nav-link text-black">Country</a>
            <div class="mega-menu">
              <div class="container cf">
                <ul class="ul-reset">
                  <h3>Châu Âu</h3>
                  <li><a href="#">Anh Quốc</a></li>
                  <li><a href="#">Pháp</a></li>
                  <li><a href="#">Ý</a></li>
                  <li><a href="#">Đức</a></li>
                  <li><a href="#">Nga</a></li>
                </ul>
                <!-- .ul-reset -->
                <ul class="ul-reset">
                  <h3>Châu Mỹ</h3>
                  <li><a href="#">Brazil</a></li>
                  <li><a href="#">Usa</a></li>
                  <li><a href="#">Mexico</a></li>
                  <li><a href="#">Cuba</a></li>
                  <li><a href="#">Chile</a></li>
                </ul>
                <!-- .ul-reset -->
                <ul class="ul-reset">
                  <h3>Châu Á</h3>
                  <li><a href="#">China</a></li>
                  <li><a href="#">Viet Nam</a></li>
                  <li><a href="#">Japan</a></li>
                  <li><a href="#">Korean</a></li>
                  <li><a href="#">India</a></li>
                </ul>
                <!-- .ul-reset -->
              </div>
              <!-- .container -->
            </div>
            <!-- .mega-menu -->
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="./404.html" style="color: black">Region</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#myModal_contact_us"
              style="color: black">Contact Us</a>
          </li>
        </ul>
      </div>

      <form class="d-flex justify-content-center">
        <input class="form-control" type="text" placeholder="Search  " style="
              width: 350px;
              margin-right: 10px;
              border-color: rebeccapurple;
            " />

        <button class="btn btn-primary" style="width: 150px; margin-right: 30px">
          Search
        </button>
      </form>
      <button class="btn" style="border: none; border-radius: 5px">
        <a href="./shopping_cart.html">
          <img src="https://img.icons8.com/emoji/256/shopping-cart-emoji.png" id="dagger" width="30px" />
        </a>
      </button>

      <button class="btn" data-bs-toggle="modal" data-bs-target="#myModal"
        style="border: none; border-radius: 5px; margin-left: 10px">
        <img src="https://img.icons8.com/ios/256/user.png" id="dagger" width="30px" />
      </button>
    </div>
  </nav>
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Login</h4>
          <button class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" />
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password" />
              <label for="floatingPassword">Password</label>
            </div>

            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck" />
              <label class="form-check-label" for="rememberPasswordCheck">
                Remember password
              </label>
            </div>
            <div class="d-grid">
              <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit"
                style="width: 300px; margin-left: 70px">
                Sign in
              </button>
            </div>
            <hr class="my-4" />
            <div class="d-grid mb-2">
              <button class="btn btn-google btn-login text-uppercase fw-bold" type="submit">
                <i class="fab fa-google me-2"></i> Sign in with Google
              </button>
            </div>
            <div class="d-grid">
              <button class="btn btn-facebook btn-login text-uppercase fw-bold" type="submit">
                <i class="fab fa-facebook-f me-2"></i> Sign in with Facebook
              </button>
            </div>
          </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="btn btn-danger" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="myModal_contact_us">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Contact Wines.com</h4>
          <button class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">
              <div class="section-title">
                <h2>Contact</h2>
                <p>Hãy viết thư cho chúng tôi nhé</p>
              </div>

              <div class="row">
                <div class="col-lg-5 d-flex align-items-stretch">
                  <div class="info">
                    <div class="address">
                      <i class="bi bi-geo-alt"></i>
                      <h4>Location:</h4>
                      <p>Ha Noi</p>
                    </div>

                    <div class="email">
                      <i class="bi bi-envelope"></i>
                      <h4>Email:</h4>
                      <p>thaibdtg16@gmail.com</p>
                    </div>

                    <div class="phone">
                      <i class="bi bi-phone"></i>
                      <h4>Call:</h4>
                      <p>+84 333 795 423</p>
                    </div>

                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                      frameborder="0" style="border: 0; width: 100%; height: 290px" allowfullscreen></iframe>
                  </div>
                </div>

                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                  <form>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label for="name">Your Name</label>
                        <input type="text" name="name" class="form-control" id="name" required />
                      </div>
                      <div class="form-group col-md-6">
                        <label for="name">Your Email</label>
                        <input type="email" class="form-control" name="email" id="email" required />
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="name">Subject</label>
                      <input type="text" class="form-control" name="subject" id="subject" required />
                    </div>
                    <div class="form-group">
                      <label for="name">Message</label>
                      <textarea class="form-control" name="message" rows="10" required></textarea>
                    </div>
                    <div class="my-3">
                      <div class="loading">Loading</div>
                      <div class="error-message"></div>
                      <div class="sent-message">
                        Your message has been sent. Thank you!
                      </div>
                    </div>
                    <div class="text-center">
                      <button type="submit " class="btn btn-primary">
                        Send Message
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </section>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="btn btn-danger" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- main -->
  <div class="container-flex mx-5" style="margin-top: 100px; height: 1300px">
    <section>
      <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-auto">
            <div class="" style="border-radius: 15px">
              <div class="row g-0">
                <div class="col-lg-8">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                      <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                      <h6 class="mb-0 text-muted">{{items.length}} items</h6>
                    </div>
                    <hr class="my-4" />

                    <div class="row mb-4 d-flex justify-content-between align-items-center" ng-repeat="item in items">
                      <div class="col-md-auto col-lg-2 col-xl-2">
                        <img src="./src/img/zyro-image.png" class="img-fluid rounded-3" alt="Cotton T-shirt" />
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">
                        <h6 class="text-muted" >{{item.idProduct}}</h6>
                        <p class="text-black mb-0">
                        </p>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                        <button class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                          <i class="fas fa-minus"></i>
                        </button>

                        <input id="form1" min="0" name="quantity" value="1" type="number"
                          class="form-control form-control-sm" />

                        <button class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="mb-0">€ 44.00</h6>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <a href="#!" class="text-muted"><i class="fas fa-times" ng-click="deleteProduct(item.id)"></i></a>
                      </div>
                      <hr class="my-4" />
                    </div>

                    

                    <div class="pt-5">
                      <h6 class="mb-0">
                        <a href="./buy_wine.html" class="text-body"><i class="fas fa-long-arrow-alt-left me-2"></i>Back
                          to shop</a>
                      </h6>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 bg-grey">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                    <hr class="my-4" />

                    <div class="d-flex justify-content-between mb-4">
                      <h5 class="text-uppercase">items 3</h5>
                      <h5>€ 132.00</h5>
                    </div>

                    <h5 class="text-uppercase mb-3">Shipping</h5>

                    <div class="mb-4 pb-2">
                      <select class="select">
                        <option value="1">Standard-Delivery- €5.00</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                        <option value="4">Four</option>
                      </select>
                    </div>
                    <div class="row">
                      <hr />
                      <div class="col-3">
                        <p>Country</p>
                        <p>State</p>
                        <p>City</p>
                        <p>Zip code</p>
                      </div>
                      <div class="col-9">
                        <input type="text" class="form-control" 
                          placeholder="Enter your country" />
                        <input type="text" class="form-control"  placeholder="Your State" />
                        <input type="text" class="form-control" 
                          placeholder="Enter your city" />
                        <input type="text" class="form-control" placeholder="Enter your zip code" />
                      </div>
                      <hr />
                    </div>

                    <h5 class="text-uppercase mb-3">Coupon Code:</h5>

                    <div class="mb-5">
                      <div class="form-outline">
                        <input type="text" id="form3Examplea2" class="form-control form-control-lg"
                          placeholder="Enter your coupon code" />
                        <br />
                        <button class="btn btn-danger">APPLY</button>
                      </div>
                    </div>
                    <h5 class="text-uppercase mb-3">Gift Certificate:</h5>

                    <div class="mb-5">
                      <div class="form-outline">
                        <input type="text" id="form3Examplea2" class="form-control form-control-lg"
                          placeholder="Add Certificate" />
                        <br />
                        <button class="btn btn-danger">APPLY</button>
                      </div>
                    </div>
                    <hr class="my-4" />

                    <div class="d-flex justify-content-between">
                      <h5 class="text-uppercase">Price</h5>
                      <h5>€ 100.00</h5>
                    </div>
                    <div class="d-flex justify-content-between mb-5">
                      <h5 class="text-uppercase">Tax</h5>
                      <h5>10%</h5>
                    </div>
                    <div class="d-flex justify-content-between mb-5">
                      <h5 class="text-uppercase">Total price</h5>
                      <h5>€ 110.00</h5>
                    </div>
                    <button type="button" class="btn btn-dark btn-block btn-lg" data-mdb-ripple-color="dark"
                      data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Register
                    </button>
                    <!-- Button trigger modal -->

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                              Check out
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <div class='container'>
                              <div class='window'>
                                <div class='order-info'>
                                  <div class='order-info-content'>
                                    <h2>Order Summary</h2>
                                    <div class='line'></div>
                                    <table class='order-table'>
                                      <tbody>
                                        <tr>
                                          <td><img src='./src/img/zyro-image.png' class='full-width'></img>
                                          </td>
                                          <td>
                                            <br> <span class='thin'>Nike</span>
                                            <br> Free Run 3.0 Women<br> <span class='thin small'> Color: Grey/Orange,
                                              Size: 10.5<br><br></span>
                                          </td>

                                        </tr>
                                        <tr>
                                          <td>
                                            <div class='price'>$99.95</div>
                                          </td>
                                        </tr>
                                      </tbody>

                                    </table>
                                    <div class='line'></div>
                                    <table class='order-table'>
                                      <tbody>
                                        <tr>
                                          <td><img src='./src/img/zyro-image.png' class='full-width'></img>
                                          </td>
                                          <td>
                                            <br> <span class='thin'>Fjällräven</span>
                                            <br>Vintage Backpack<br> <span class='thin small'> Color: Olive, Size:
                                              20L</span>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            <div class='price'>$235.95</div>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <div class='line'></div>
                                    <table class='order-table'>
                                      <tbody>
                                        <tr>
                                          <td><img src='./src/img/zyro-image.png' class='full-width'></img>
                                          </td>
                                          <td>
                                            <br> <span class='thin'>Monobento</span>
                                            <br>Double Lunchbox<br> <span class='thin small'> Color: Pink, Size:
                                              Medium</span>
                                          </td>

                                        </tr>
                                        <tr>
                                          <td>
                                            <div class='price'>$25.95</div>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <div class='line'>
                                    </div>
                                    <br>
                                    <div class='total'>
                                      <span style='float:left;'>
                                        <div class='thin dense'>VAT 19%</div>
                                        <div class='thin dense'>Delivery</div>
                                        TOTAL
                                      </span>
                                      <span style='float:right; text-align:right;'>
                                        <div class='thin dense'>$68.75</div>
                                        <div class='thin dense'>$4.95</div>
                                        $435.55
                                      </span>
                                    </div>
                                  </div>
                                </div>
                                <div class='credit-info'>
                                  <div class='credit-info-content'>
                                    <table class='half-input-table'>
                                      <tr>
                                        <td>Please select your card: </td>
                                        <td>
                                          <div class='dropdown' id='card-dropdown'>
                                            <div class='dropdown-btn' id='current-card'>Visa</div>
                                            <div class='dropdown-select'>
                                              <ul>
                                                <li>Master Card</li>
                                                <li>American Express</li>
                                              </ul>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                    </table>
                                    <img
                                      src='https://dl.dropboxusercontent.com/s/ubamyu6mzov5c80/visa_logo%20%281%29.png'
                                      height='80' class='credit-card-image' id='credit-card-image'></img>
                                    Card Number
                                    <input class='input-field'></input>
                                    Card Holder
                                    <input class='input-field'></input>
                                    <table class='half-input-table'>
                                      <tr>
                                        <td> Expires
                                          <input class='input-field'></input>
                                        </td>
                                        <td>CVC
                                          <input class='input-field'></input>
                                        </td>
                                      </tr>
                                    </table>
                                    <button class='pay-btn'>Checkout</button>

                                  </div>

                                </div>
                              </div>
                            </div>


                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                              Close
                            </button>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <script src="https://kit.fontawesome.com/e56307bebd.js" crossorigin="anonymous">


  </script>
  <!-- end main  -->
  <div class="container-flex">
    <footer class="text-white text-center text-lg-start bg-danger">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row mt-4">
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">About company</h5>

            <p>Ở đây tôi bán rượu vang !</p>

            <p>Mua thì liên hệ tui</p>

            <div class="mt-4">
              <!-- Facebook -->
              <a class="btn btn-floating btn-warning btn-lg"><i class="fab fa-facebook-f"></i></a>
              <!-- Dribbble -->
              <a class="btn btn-floating btn-warning btn-lg"><i class="fab fa-dribbble"></i></a>
              <!-- Twitter -->
              <a class="btn btn-floating btn-warning btn-lg"><i class="fab fa-twitter"></i></a>
              <!-- Google + -->
              <a class="btn btn-floating btn-warning btn-lg"><i class="fab fa-google-plus-g"></i></a>
              <!-- Linkedin -->
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4 pb-1">Email</h5>

            <div class="form-outline form-white mb-4">
              <input type="email" id="formControlLg" class="form-control form-control-lg"
                placeholder="@example.com.vn" />
              <br />
              <button class="btn btn-primary">Submit</button>
              <div class="form-notch">
                <div class="form-notch-leading" style="width: 9px"></div>
                <div class="form-notch-middle" style="width: 48.8px"></div>
                <div class="form-notch-trailing"></div>
              </div>
            </div>

            <ul class="fa-ul" style="margin-left: 1.65em">
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">New York, NY 10012, US</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">info@example.com</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 01 234 567 88</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-print"></i></span><span class="ms-2">+ 01 234 567 89</span>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">Opening hours</h5>

            <table class="table text-center text-white">
              <tbody class="font-weight-normal">
                <tr>
                  <td>Mon - Thu:</td>
                  <td>8am - 9pm</td>
                </tr>
                <tr>
                  <td>Fri - Sat:</td>
                  <td>8am - 1am</td>
                </tr>
                <tr>
                  <td>Sunday:</td>
                  <td>9am - 10pm</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2023 Copyright:
        <a class="text-white" href="https://github.com/thai16-gg">
          <i class="fa-brands fa-github"></i> thai16-gg</a>
      </div>
      <!-- Copyright -->
    </footer>
  </div>

</body>

</html>