a:hover {
  text-decoration: none;
  color: red;
}
li {
  list-style: none;
}

.ul-reset {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

/* #Navigation Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav {
  background: #424242;
  font-size: 0;
  position: relative;
}
nav > ul > li {
  display: inline-block;
  padding: 0 15px;
  position: relative;
}
nav > ul > li:first-child {
  padding-left: 0;
}
nav > ul > li:last-child {
  padding-right: 0;
}
/* nav > ul > li > a {
  color: #fff;
  display: block;
  position: relative;
  padding: 20px 0;
  border-bottom: 3px solid transparent;
} */
nav > ul > li:hover > a {
  border-bottom: 3px solid #69aae0;
}

/* #Mega Menu Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.mega-menu {
  background: #f0f0f0;
  display: none;
  left: 0;
  position: absolute;
  text-align: left;
  width: 100%;
}
.mega-menu h3 {
  color: #444;
}
.mega-menu ul {
  float: left;
  margin-bottom: 20px;
  margin-right: 40px;
  width: 205px;
}
.mega-menu ul:last-child {
  margin-right: 0;
}
.mega-menu a {
  color: #4ea3d8;
  display: block;
  padding: 10px 0;
}
.mega-menu a:hover {
  color: #2d6a91;
}

/* #Droppable Class Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.droppable {
  position: static;
}
.droppable > a:after {
  content: "\f107";
  font-family: FontAwesome;
  font-size: 12px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}
.droppable:hover .mega-menu {
  display: block;
}
.top-container {
  margin-top: 70px;
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}
a {
  color: #000;
  position: relative;
  text-decoration: none;
}

a::before {
  background: hsl(45 100% 70%);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

#basic-dark-trigger:hover {
  background-color: #04121b;
  color: red;
}
#btn1:hover {
  background-color: antiquewhite;
}
img {
  transform: scale(0.7);
}
.card-img-top {
  padding: 50px;
  transition: transform 0.2s; /* Animation */
  margin: 0 auto;
}
.card-img-top:hover {
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

:root {
  --orange: #fd9940;
  --darkorange: #dd7d25;
  --platinum: #e5e5e5;
  --black: #2b2d42;
  --white: #fff;
  --thumb: #edf2f4;
}

.cards {
  display: grid;
  grid-auto-columns: 100%;
  grid-column-gap: 10px;
  grid-auto-flow: column;
  padding: 25px 0px;
  list-style: none;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 20px;

  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
}

.card .card-title {
  font-size: 20px;
}

.card .card-content {
  margin: 20px 0;
  max-width: 85%;
}

.card .card-link-wrapper {
  margin-top: auto;
}

.card .card-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: var(--orange);
  padding: 6px 12px;
  border-radius: 8px;
  transition: background 0.2s;
}

.card:hover .card-link {
  background: var(--darkorange);
}

.cards::-webkit-scrollbar {
  height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
  background: var(--darkorange);
}

.cards::-webkit-scrollbar-track {
  background: var(--thumb);
}

@media (min-width: 500px) {
  .cards {
    grid-auto-columns: calc(50% - 10px);
    grid-column-gap: 20px;
  }
}

@media (min-width: 700px) {
  .cards {
    grid-auto-columns: calc(calc(100% / 3) - 20px);
    grid-column-gap: 30px;
  }
}

@media (min-width: 1100px) {
  .cards {
    grid-auto-columns: calc(25% - 30px);
    grid-column-gap: 40px;
  }
}
.ratings {
  margin-right: 10px;
}

.ratings i {
  color: #cecece;
  font-size: 32px;
}

.rating-color {
  color: #fbc634 !important;
}

.review-count {
  font-weight: 400;
  margin-bottom: 2px;
  font-size: 24px !important;
}

.small-ratings i {
  color: #cecece;
}

.review-stat {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 2px;
}
